USE [master]
GO
/****** Object:  Database [task1]    Script Date: 10/24/2025 10:03:36 PM ******/
CREATE DATABASE [task1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'task1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\task1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'task1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\task1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [task1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [task1]
GO
/****** Object:  Table [dbo].[don_vi_tinh]    Script Date: 10/24/2025 10:03:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[don_vi_tinh](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[ma_dvt] [nvarchar](64) NOT NULL,
	[ten_dvt] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ma_dvt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[duong_dung]    Script Date: 10/24/2025 10:03:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[duong_dung](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[ma_duong] [nvarchar](64) NOT NULL,
	[ten_duong] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ma_duong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hang_hoa]    Script Date: 10/24/2025 10:03:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hang_hoa](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[ma_nhom] [bigint] NOT NULL,
	[ma_hang] [nvarchar](64) NOT NULL,
	[ten_hang] [nvarchar](500) NOT NULL,
	[dvt_nhap_id] [bigint] NOT NULL,
	[dvt_xuat_id] [bigint] NOT NULL,
	[so_luong_quy_doi] [decimal](18, 6) NOT NULL,
	[ma_duong_dung] [nvarchar](64) NULL,
	[nuoc_id] [bigint] NULL,
	[hang_sx_id] [bigint] NULL,
	[ham_luong] [nvarchar](255) NULL,
	[hoat_chat_text] [nvarchar](500) NULL,
	[dang_bao_che] [nvarchar](255) NULL,
	[quy_cach_dong_goi] [nvarchar](255) NULL,
	[so_dang_ky] [nvarchar](128) NULL,
	[ma_anh_xa] [nvarchar](128) NOT NULL,
	[ma_barcode] [nvarchar](64) NULL,
	[ma_pp_che_bien] [nvarchar](64) NULL,
	[nhom_chi_phi_id] [bigint] NOT NULL,
	[nguon_chi_tra_id] [bigint] NOT NULL,
	[bhyt] [bit] NOT NULL,
	[ti_le_bhyt] [decimal](5, 2) NULL,
	[ti_le_thanh_toan] [decimal](5, 2) NULL,
	[thong_tin_thau] [nvarchar](max) NULL,
	[gia_thau] [decimal](18, 2) NULL,
	[sl_min] [decimal](18, 3) NULL,
	[sl_max] [decimal](18, 3) NULL,
	[so_ngay_dung] [int] NOT NULL,
	[ma_nha_thau] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ma_hang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hang_san_xuat]    Script Date: 10/24/2025 10:03:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hang_san_xuat](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[ten_hang] [nvarchar](255) NOT NULL,
	[nuoc_id] [bigint] NULL,
	[ma_hang_sx] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nguon_chi_tra]    Script Date: 10/24/2025 10:03:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nguon_chi_tra](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[ma_nguon] [nvarchar](64) NOT NULL,
	[ten_nguon] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ma_nguon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nha_thau]    Script Date: 10/24/2025 10:03:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nha_thau](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[ma_nha_thau] [nvarchar](64) NOT NULL,
	[ten_nha_thau] [nvarchar](255) NOT NULL,
	[dia_chi] [nvarchar](500) NULL,
	[dien_thoai] [nvarchar](50) NULL,
	[email] [nvarchar](128) NULL,
	[nguoi_dai_dien] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ma_nha_thau] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nhom_chi_phi]    Script Date: 10/24/2025 10:03:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nhom_chi_phi](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[ma_nhom] [nvarchar](64) NOT NULL,
	[ten_nhom] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ma_nhom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nhom_hang_hoa]    Script Date: 10/24/2025 10:03:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nhom_hang_hoa](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[ma_nhom] [nvarchar](64) NOT NULL,
	[ten_nhom] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ma_nhom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nuoc_san_xuat]    Script Date: 10/24/2025 10:03:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nuoc_san_xuat](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[ma_nuoc] [nchar](2) NOT NULL,
	[ten_nuoc] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ma_nuoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[hang_hoa] ADD  CONSTRAINT [DF_hh_slqd]  DEFAULT ((1)) FOR [so_luong_quy_doi]
GO
ALTER TABLE [dbo].[hang_hoa] ADD  CONSTRAINT [DF_hh_bhyt]  DEFAULT ((0)) FOR [bhyt]
GO
ALTER TABLE [dbo].[hang_hoa] ADD  CONSTRAINT [DF_hh_songaydung]  DEFAULT ((90)) FOR [so_ngay_dung]
GO
ALTER TABLE [dbo].[hang_san_xuat] ADD  DEFAULT ('') FOR [ma_hang_sx]
GO
ALTER TABLE [dbo].[hang_hoa]  WITH CHECK ADD  CONSTRAINT [FK_hh_dvt_nhap] FOREIGN KEY([dvt_nhap_id])
REFERENCES [dbo].[don_vi_tinh] ([id])
GO
ALTER TABLE [dbo].[hang_hoa] CHECK CONSTRAINT [FK_hh_dvt_nhap]
GO
ALTER TABLE [dbo].[hang_hoa]  WITH CHECK ADD  CONSTRAINT [FK_hh_dvt_xuat] FOREIGN KEY([dvt_xuat_id])
REFERENCES [dbo].[don_vi_tinh] ([id])
GO
ALTER TABLE [dbo].[hang_hoa] CHECK CONSTRAINT [FK_hh_dvt_xuat]
GO
ALTER TABLE [dbo].[hang_hoa]  WITH CHECK ADD  CONSTRAINT [FK_hh_hsx] FOREIGN KEY([hang_sx_id])
REFERENCES [dbo].[hang_san_xuat] ([id])
GO
ALTER TABLE [dbo].[hang_hoa] CHECK CONSTRAINT [FK_hh_hsx]
GO
ALTER TABLE [dbo].[hang_hoa]  WITH CHECK ADD  CONSTRAINT [FK_hh_ncp] FOREIGN KEY([nhom_chi_phi_id])
REFERENCES [dbo].[nhom_chi_phi] ([id])
GO
ALTER TABLE [dbo].[hang_hoa] CHECK CONSTRAINT [FK_hh_ncp]
GO
ALTER TABLE [dbo].[hang_hoa]  WITH CHECK ADD  CONSTRAINT [FK_hh_nct] FOREIGN KEY([nguon_chi_tra_id])
REFERENCES [dbo].[nguon_chi_tra] ([id])
GO
ALTER TABLE [dbo].[hang_hoa] CHECK CONSTRAINT [FK_hh_nct]
GO
ALTER TABLE [dbo].[hang_hoa]  WITH CHECK ADD  CONSTRAINT [FK_hh_nhathau] FOREIGN KEY([ma_nha_thau])
REFERENCES [dbo].[nha_thau] ([id])
GO
ALTER TABLE [dbo].[hang_hoa] CHECK CONSTRAINT [FK_hh_nhathau]
GO
ALTER TABLE [dbo].[hang_hoa]  WITH CHECK ADD  CONSTRAINT [FK_hh_nhom] FOREIGN KEY([ma_nhom])
REFERENCES [dbo].[nhom_hang_hoa] ([id])
GO
ALTER TABLE [dbo].[hang_hoa] CHECK CONSTRAINT [FK_hh_nhom]
GO
ALTER TABLE [dbo].[hang_hoa]  WITH CHECK ADD  CONSTRAINT [FK_hh_nuoc] FOREIGN KEY([nuoc_id])
REFERENCES [dbo].[nuoc_san_xuat] ([id])
GO
ALTER TABLE [dbo].[hang_hoa] CHECK CONSTRAINT [FK_hh_nuoc]
GO
ALTER TABLE [dbo].[hang_san_xuat]  WITH CHECK ADD  CONSTRAINT [FK_hsx_nuoc] FOREIGN KEY([nuoc_id])
REFERENCES [dbo].[nuoc_san_xuat] ([id])
GO
ALTER TABLE [dbo].[hang_san_xuat] CHECK CONSTRAINT [FK_hsx_nuoc]
GO
ALTER TABLE [dbo].[hang_hoa]  WITH CHECK ADD  CONSTRAINT [CK_hh_slqd_pos] CHECK  (([so_luong_quy_doi]>(0)))
GO
ALTER TABLE [dbo].[hang_hoa] CHECK CONSTRAINT [CK_hh_slqd_pos]
GO
ALTER TABLE [dbo].[hang_hoa]  WITH CHECK ADD  CONSTRAINT [CK_hh_ti_le_bhyt] CHECK  (([ti_le_bhyt] IS NULL OR [ti_le_bhyt]>=(0) AND [ti_le_bhyt]<=(100)))
GO
ALTER TABLE [dbo].[hang_hoa] CHECK CONSTRAINT [CK_hh_ti_le_bhyt]
GO
ALTER TABLE [dbo].[hang_hoa]  WITH CHECK ADD  CONSTRAINT [CK_hh_ti_le_tt] CHECK  (([ti_le_thanh_toan] IS NULL OR [ti_le_thanh_toan]>=(0) AND [ti_le_thanh_toan]<=(100)))
GO
ALTER TABLE [dbo].[hang_hoa] CHECK CONSTRAINT [CK_hh_ti_le_tt]
GO
USE [master]
GO
